<div class="row">
  <div class="col-sm-12 col-md-12">

    <div class="card">
        <div class="card-header">
          <h2>HTML</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2 text-center skills">
              <%= image_tag("html5.png", class: "img-fluid")%>
              <h6>HTML5</h6>
            </div>

          </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
          <h2>CSS</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2 text-center skills">
              <%= image_tag("css3.png", class: "img-fluid")%>
              <h6>CSS3</h6>
            </div>
            <div class="col-md-2 text-center skills">
              <%= image_tag("bootstrap4.png", class: "img-fluid")%>
              <h6>Bootstrap 4</h6>
            </div>
            <div class="col-md-2 text-center skills">
              <%= image_tag("sass.png", class: "img-fluid")%>
              <h6>Sass</h6>
            </div>
          </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
          <h2>Javascript</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2 text-center skills">
              <%= image_tag("javascript-logo2.png", class: "img-fluid")%>
              <h6>Javascript</h6>
            </div>
            <div class="col-md-2 text-center skills">
              <%= image_tag("jquery.png", class: "img-fluid")%>
              <h6>Jquery</h6>
            </div>
          </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
          <h2>Back-End</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2 text-center skills">
              <%= image_tag("php-logo.png", class: "img-fluid")%>
              <h6>PHP</h6>
            </div>
            <div class="col-md-2 text-center skills">
              <%= image_tag("yii2.png", class: "img-fluid")%>
              <h6>Yii</h6>
            </div>
            <div class="col-md-2 text-center skills">
              <%= image_tag("mysql.png", class: "img-fluid")%>
              <h6>MySql</h6>
            </div>
            <div class="col-md-2 text-center skills">
              <%= image_tag("ruby.png", class: "img-fluid")%>
              <h6>Ruby</h6>
            </div>
            <div class="col-md-2 text-center skills">
              <%= image_tag("rails.png", class: "img-fluid")%>
              <h6>Ruby on Rails</h6>
            </div>
            <div class="col-md-2 text-center skills">
              <%= image_tag("postgress.png", class: "img-fluid")%>
              <h6>Postgresql</h6>
            </div>
          </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
          <h2>CMS</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2 text-center skills">
              <%= image_tag("wordpress.png", class: "img-fluid")%>
              <h6>Wordpress</h6>
            </div>
          </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
          <h2>Others</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2 text-center skills">
              <%= image_tag("github.svg", class: "img-fluid")%>
              <h6>Github</h6>
            </div>
          </div>
        </div>
    </div>


  </div>
</div>
