<h1>Anime</h1>


<div class="card">
  <div class="card-header bg-dark text-white">
    Search
  </div>
  <div class="card-body">

      <%= form_tag(animes_path, method: :get) do %>
      <div class="row">
        <div class="col-md-3">
          <%= select_tag(:ids, options_from_collection_for_select(@anime_list, "id", "name",params[:ids]), class:"form-control", prompt:"Name" )%>
        </div>
        <div class="col-md-3">
          <%= select_tag(:location, options_for_select(Anime::LOCATIONS,params[:location]), class:"form-control", prompt:"Drive Location" )%>
        </div>
      </div>
       <%= submit_tag('Search', name: nil, class:"btn btn-success")  %>
      <% end %>
  </div>
</div>

<br>


<div class="card">
  <div class="card-header bg-dark text-white">
    Listing
  </div>
  <div class="card-body">
    <p  class="text-right">
      <%= link_to("Add",new_anime_path, :class=>"btn btn-primary")%>
    </p>
      <table class="table table-bordered">
        <thead>
          <th>Name</th>
          <th>Location</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <% @anime.each do |anime|%>
          <tr>
            <td><%= anime.name%></td>
            <td><%= anime.location%></td>
            <td>
              <%= link_to('View',anime_path(anime.id))%>
              <%= link_to('Update',edit_anime_path(anime.id))%>
              <%= link_to("Delete", anime_path(anime.id),
                          method: :delete,
                          data: {confirm: 'Are you sure?'}
              )%>
            </td>
          </tr>
          <%end%>
        </tbody>


      </table>
      <div class="pagination">
        <%= will_paginate @anime, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

      </div>

  </div>
</div>
